<template>
  <div id="calendar-wrapper">

    <div id="calendar-header">
      <div class="arrow" @click="slideTo(slide.left)">
        <img height="11" :src="ar_left" alt="">
      </div>
      <div id="cur-month">{{ curFormatMonth }}</div>
      <div class="arrow" @click="slideTo(slide.right)">
        <img height="11" :src="ar_right" alt="">
      </div>
    </div>

    <table>
      <thead>
      <tr class="weekdays-names">
        <th v-for="e in WEEKDAYS">{{e}}</th>
      </tr>
      </thead>
    </table>

    <div id="calendar-slider">
      <table v-for="month in monthsForSlider" :class="month.class" class="calendar-slide">
        <tbody>
          <tr v-for="week in month.days" class="week-row">
            <td
              v-for="day in week"
              class="day-field"
              :class="{
                'other-month-day': !day.isThatMonth,
                'today-day': day.isToday,
                'selected-day': isSelectedDate(day.date),
              }"
            >
              <div
                  class="day-field-inner"
                  @click.exact="selectDate(day.date)"
                  @click.shift="expandSelectedDate(day.date)"
              >
                {{day.formatDay}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
import ar_left from '../assets/ar_left.png';
import ar_right from '../assets/ar_right.png';

export default {
  name: "Calendar",
  created() {
    this.initDays();
  },
  computed: {
    monthsForSlider() {
      return [
        {name: 'center', class: 'calendar-slide-center', days: this.currentDays,},
        {name: 'left', class: 'calendar-slide-left', days: this.prevDays,},
        {name: 'right', class: 'calendar-slide-right', days: this.nextDays,},
      ]
    },
    curFormatMonth() {
      let date = new Date(this.selectedMonth);
      let month = new Intl.DateTimeFormat('ru', { month: 'long' }).format(date);
      const year = new Intl.DateTimeFormat('ru', { year: 'numeric' }).format(date);

      month = month[0].toUpperCase() + month.slice(1);

      return `${month} ${year}`;
    },
    nextMonthValue() {
      let m = new Date(this.selectedMonth);
      m.setMonth(m.getMonth() + 1);
      return m.toDateString();
    },
    prevMonthValue() {
      let m = new Date(this.selectedMonth);
      m.setMonth(m.getMonth() - 1);
      return m.toDateString();
    },
  },
  methods: {
    initDays() {
      this.currentDays = this.getDaysForMonth(this.selectedMonth);
      this.nextDays = this.getDaysForMonth(this.nextMonthValue);
      this.prevDays = this.getDaysForMonth(this.prevMonthValue);
    },
    isSelectedDate(date) {
      date = date.valueOf();
      if (!this.selExtDate || this.selExtDate === this.selDate) {
        return date === +this.selDate;
      }

      const [lowBorder, highBorder] = [+this.selDate, +this.selExtDate].sort();

      return lowBorder <= date && date <= highBorder;
    },
    selectDate(date) {
      this.selExtDate = null;
      this.selDate = date.valueOf();
      localStorage.removeItem('selExtDate');
      localStorage.selDate = date.valueOf().toString();
    },
    expandSelectedDate(date) {
      if (this.selDate && this.selDate !== date) {
        this.selExtDate = date = date.valueOf();
        localStorage.selExtDate = date.valueOf().toString();
      }
    },
    getDaysForMonth(month) {
      const WEEK_DAYS = 7;
      const WEEK_COUNT = 6;
      const processedMonth = new Date(month).getMonth();
      let tempDate = new Date(month);
      tempDate.setDate(1 - ((tempDate.getDay() === 0 ? WEEK_DAYS : tempDate.getDay()) - 1));
      let days = [];
      const dateObject = d => ({
        date: d,
        formatDay: d.getDate(),
        isThatMonth: d.getMonth() === processedMonth,
        isToday: d.toDateString() === this.today,
      });

      for (let i = 0, currentWeek = []; i < (WEEK_COUNT * WEEK_DAYS); i++) {
        currentWeek.push(dateObject(new Date(tempDate)));
        tempDate.setDate(tempDate.getDate() + 1);
        if (currentWeek.length === 7) {
          days.push(currentWeek);
          currentWeek = [];
        }
      }

      return days;
    },
    slideTo(val) {
      if (this.isLocked) {
        return;
      }

      this.isLocked = true;

      let date = new Date(this.selectedMonth);
      date.setMonth(date.getMonth() + val);
      this.selectedMonth = date.toDateString();

      let sliderEl = document.getElementById('calendar-slider');
      let animation = sliderEl.animate(
        [{transform: `translateX(${-val * 330}px)`}],
        {
          duration: 200,
          iterations: 1,
        }
      );

      animation.onfinish = () => {
        if (val === 1) {
          this.prevDays = this.currentDays;
          this.currentDays = this.nextDays;
          this.nextDays = this.getDaysForMonth(this.nextMonthValue);
        } else {
          this.nextDays = this.currentDays;
          this.currentDays = this.prevDays;
          this.prevDays = this.getDaysForMonth(this.prevMonthValue);
        }
        this.isLocked = false;
      };
    },
  },
  data: () => ({
    selectedMonth: new Date().toDateString(),
    currentDays: null,
    prevDays: null,
    nextDays: null,
    isLocked: false,
    slide: {
      left: -1,
      right: 1,
    },
    WEEKDAYS: ['ПН','ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС',],
    ar_left,
    ar_right,
    today: new Date().toDateString(),
    selDate: localStorage.selDate,
    selExtDate: localStorage.selExtDate,
  }),
}
</script>

<style scoped>
#calendar-wrapper {
  width: 100%;
  max-width: 306px;
  box-shadow: 0 1px 4px #707070;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  background-color: white;
  padding: 23px 10px;
  position: relative;
}
#calendar-header {
  height: 24px;
  margin-bottom: 12px;
  display: flex;
  padding: 0 8px;
  z-index: 120;
  align-items: center;
  justify-content: space-between;
}
#cur-month {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}
.arrow {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekdays-names {
  height: 50px;
}
.weekdays-names th {
  color: #7057CD;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
}
.week-row {
  padding: 12px 0;
}
.day-field {
  padding: 0;
  color: #4C4C4C;
  vertical-align: center;
  height: 50px;
}
.day-field-inner {
  height: 27px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  margin: auto;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
}
.day-field-inner:hover {
  background: #F2F4F5;
}
.day-field-inner:active {
  background: #876FDF;
  color: white;
}
.other-month-day {
  color: #876FDF;
}
.today-day .day-field-inner {
  border: 1px solid #876FDF;
}
.selected-day .day-field-inner {
  background: #876FDF;
  color: white;
}
.calendar-slide {
  position: absolute;
  width: 100%;
  top: 0;
}
.calendar-slide-center {
  position: relative;
  width: 100%;
  z-index: 100;
  top: 0;
}
.calendar-slide-left {
  transform: translateX(-330px);
}
.calendar-slide-right {
  transform: translateX(330px);
}
</style>
