<template>
  <div id="app">
    <div id="info">
      <div id="title">Календарь</div>
      <div id="subtitle">Матвей</div>
    </div>
    <calendar/>
  </div>
</template>

<script>
import Calendar from "./components/Calendar";

export default {
  name: 'App',
  components: {
    Calendar,
  }
}
</script>

<style>
body {
  margin: 0;
}
::selection {
  background-color: transparent;
}
@font-face {
  font-family: 'PTSans';
  src: url('./assets/fonts/PT-Sans/PTSans-Regular.ttf') format("truetype");
}
#app {
  font-family: 'PTSans', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 120px);
  position: absolute;
  width: calc(100% - 40px);
  color: black;
  padding: 60px 20px;
}

#info {
  height: 60px;
  position: absolute;
  flex-direction: column;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 2px;
  font-weight: bold;
}

#subtitle {
  font-size: 14px;
  opacity: .6;
  line-height: 16px;
}
</style>
